.profile {
    width: 1250px;
    margin: 30px auto;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 20px;

    border-bottom: 1px solid #64748B;
    padding-bottom: 20px;
}

.userInfo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

/* ----------------------------------- */
.myRating h2{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0 30px 0;
}

.ratingSection {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rating {
    width: 550px;
    height: 50px;
}

.ratingInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating p {
    font-size: 18px;
}

.ratingShower {
    width: 550px;
    height: 15px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #64748B;
    margin-top: 5px;
}