.profile {
    width: 1250px;
    margin: 30px auto;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 20px;

    border-bottom: 1px solid #64748B;
    padding-bottom: 20px;
}

.userInfo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

/* ----------------------------------- */
.myRating h2{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0 30px 0;
}


.logoutButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  background-color: white;  
}

.logoutButton:hover {
  background-color: #c1121f;
}