.lessonRegulation-wrapper {
  max-width: 100%;
  width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lessonRegulation {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.lessonCard {
  background: #f7faff;
  padding: 15px;
  border-radius: 14px;
  border: 1px solid #dce6ff;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 4px 12px rgba(36, 99, 235, 0.08);

  &:hover {
    transform: translateY(-4px);
    border-color: #2463eb;
    box-shadow: 0px 6px 16px rgba(36, 99, 235, 0.15);
  }

  h3 {
    margin-bottom: 10px;
    color: #2463eb;
    font-weight: 700;
    background-color: #f7faff;
  }

  p {
    margin: 4px 0;
    font-size: 14px;
    background-color: #f7faff;
  }
}

.lesson-buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 22px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

.btn.blue {
  background: #2463eb;
  color: white;

  &:hover {
    background: #1f54c7;
  }
}

.btn.light {
  background: #e9efff;
  color: #2463eb;

  &:hover {
    background: #d8e0ff;
  }
}

.btn.darkblue {
  background: #1b3fa2;
  color: white;

  &:hover {
    background: #163583;
  }
}
