.test-progress {
  max-width: 100%;
  width: 600px;
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.test-progress h2 {
  margin-bottom: 15px;
  background-color: white;
}

.progress-item {
  margin-bottom: 20px;
}

.progress-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  background-color: white;
}
.progress-header p{
  background-color: white;
  padding-bottom: 5px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #e6eaff;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #2463EB;
  width: 0;
  transition: width 1.2s ease-in-out;
}

.empty {
  opacity: 0.7;
  margin-top: 10px;
  background-color: white;
}
