.sec-2{
    width: 1100px;
    height: 200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    width: 300px;
    height: 160px;
    background-color: white;
    border-radius: 8px;
}
.cardBook{
    width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 7px;
}
.cardBook div img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 6px;
    background-color: white;
}
.cardBook div{
    width: 53px;
    height: 53px;
    background-color: #f1f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.cardBook p{
    background-color: #f1f5f9;
    padding: 6px 10px;
    font-size: 21px;
    font-weight: 500;
    border-radius: 4px;
}
.card h3{
    font-size: 17px;
    font-weight: 500;
    background-color: white;
    padding: 12px 24px;
}