.sec-2{
    max-width: 1100px;
    width: 100%;
    height: 200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    width: 300px;
    height: 160px;
    background-color: white;
    border-radius: 8px;
}
.cardBook{
    width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 7px;
}
.cardBook div img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 6px;
    background-color: white;
}
.cardBook div{
    width: 53px;
    height: 53px;
    background-color: #f1f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.cardBook p{
    background-color: #f1f5f9;
    padding: 6px 10px;
    font-size: 21px;
    font-weight: 500;
    border-radius: 4px;
}
.card h3{
    font-size: 17px;
    font-weight: 500;
    background-color: white;
    padding: 12px 24px;
}

@media(max-width:425px){
    .sec-2{
        width: 425px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 500px;
    }
    .card{
        width: 250px;
    }
    .card h3{
        font-size: 16px;
    }
    .cardBook{
        width: 200px;
    }
    .cardBook p{
        font-size: 18px;
    }
    .cardBook div img{
        width: 35px;
        height: 35px;
    }
    .cardBook div{
        width: 43px;
        height: 43px;
    }
}

@media(max-width:375px){
    .sec-2{
        width: 360px;
    }
}