.preVers{
    max-width: 1150px;
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.preVers h1{
    font-size: 32px;
    margin-bottom: 40px;
}
.preVers ul{
    font-size: 20px;
    line-height: 27px;
}
.preVersText{
    font-size: 20px;
    margin-bottom: 20px;
}
.preVers ul p{
    font-size: 17px;
    color: rgb(81, 86, 88);
}
.premiumBtn{
    width: 220px;
    height: 50px;
    border-radius: 8px;
    font-size: 13px;
    margin-top: 50px;
    background-color: #2463EB;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
}
.premiumBtn:hover{
    transform: scale(0.93);
}   

@media(max-width: 425px){
    .preVers{
        max-width: 425px;
        width: 100%;
    }
    .premiumBtn{
        width: 150px;
    }
    .preVers h1{
        font-size: 28px;
    }
    .preVers ul{
        font-size: 18px;
    }
    .preVers ul p{
        font-size: 15px;
    }
}
@media(max-width: 375px){
    .preVers{
        max-width: 375px;
        width: 100%;
    }
}
@media(max-width: 325px){
    .preVers{
        max-width: 325px;
        width: 100%;
    }
}