.answersAnalog{
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.answersAnalog button{
    width: 130px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 6px;
    transition: all 0.3s ease-out;
}
.answersAnalog button:hover{
    margin-top: -6px;
    background-color: #a5b4fc;
    border: none;
}

@media(max-width:425px){
    .answersAnalog{
        width: 415px;
    }
    .answersAnalog button{
        width: 95px;
        height: 45px;
        font-size: 12px;
    }
    .kgTestTime{
        font-size: 18px;
        margin-bottom: 10px;
    }
}