.quest-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}
.progress-bar{
    margin-top: 20px;
    margin-bottom: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.option-btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #47e280;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.option-btn:hover {
    background: #47e280;
    color: white;
}

.result-card {
    text-align: center;
    padding: 50px;
}

/* Адаптивка */
@media (max-width: 480px) {
    .quest-container {
        width: 90%;
        margin: 20px auto;
    }
}