.universityPage{
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}
.universityPage h1{
    text-align: center;
}

.uni-list{
    max-width: 1100px;
    width: 100%;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    gap: 30px;
}
.uni-list h2{
    text-align: center;
}
.uni{
    width: 1000px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0 20px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.3s ease-out;
}
.uni:hover{
    box-shadow: 8px 12px 15px gray;
    cursor: pointer;
}
.uniLogo{
    width: 110px;
    height: 110px;
    object-fit: contain;
}
.uni p{
    width: 350px;
    font-size: 20px;
    font-weight: 500;
}
.star{
    width: 100px;
    height: 30px;
    object-fit: contain;
}
a{
    text-decoration: none;
    color: rgb(48, 48, 48);
}

@media(max-width:1024px){
    .universityPage{
        width: 1024px;
    }
    .uni-list{
        width: 1020px;
    }
    .uni{
        width: 1010px;
    }
    .uniLogo{
        width: 90px;
        height: 90px;
    }
}
@media(max-width: 425px){
    .universityPage{
        width: 420px;
    }
.uni-list{
    width: 420px;
}
.uni{
    width: 410px;
}
.uniLogo{
    width: 60px;
    height: 60px;
}
.star{
    width: 70px;
    height: 20px;
}
.uni p{
    font-size: 16px;
    margin-left: 15px;
}
.universityPage h1{
    font-size: 22px;
}
.uni-list h2{
    font-size: 18px;
}
}

@media(max-width: 375px){
    .universityPage{
        width: 365px;
    }
    .uni-list{
        width: 365px;
    }
    .uni{
        width: 375px;
    }
}