.universityPage{
    width: 1250px;
    margin: 0 auto;
}

.uni-list{
    width: 1100px;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    gap: 30px;
}
.uni{
    width: 1000px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0 20px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.3s ease-out;
}
.uni:hover{
    box-shadow: 8px 12px 15px gray;
    cursor: pointer;
}
.uniLogo{
    width: 110px;
    height: 110px;
    object-fit: contain;
}
.uni p{
    width: 350px;
    font-size: 20px;
    font-weight: 500;
}
.star{
    width: 100px;
    height: 30px;
    object-fit: contain;
}
a{
    text-decoration: none;
    color: rgb(48, 48, 48);
}