/* Размытый фон */
.premium-overlay {
  width: 100%;
  min-height: 250px;

  backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;

  border-radius: 15px;

  padding: 15px;
  animation: fadeIn 0.35s ease;

  position: absolute;
  left: 0;
  z-index: 234;
}

/* Блок внутри */
.premium-box {
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 350px;
  width: 100%;
  text-align: center;

  animation: scaleIn 0.3s ease;
}

.premium-box h2 {
  font-size: 20px;
  margin-bottom: 12px;
  color: #1e293b;
}

.premium-box p {
  font-size: 15px;
  color: #475569;
  margin-bottom: 20px;
}

.premium-btn {
  padding: 12px 18px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
}

.premium-btn:hover {
  background: #2563eb;
}

/* Анимации */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* Адаптивка */
@media (max-width: 480px) {
  .premium-box {
    max-width: 90%;
    padding: 20px;
  }

  .premium-box h2 {
    font-size: 18px;
  }

  .premium-btn {
    font-size: 15px;
    padding: 10px;
  }
}