.restricted-view {
  text-align: center;
  margin-top: 100px;
  font-family: sans-serif;
}

.restricted-view h2 {
  font-size: 28px;
  color: #ff3333;
}

.restricted-view p {
  font-size: 18px;
  color: #333;
}