.studies{
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
}
.studies h2{
    font-size: 28px;
}
.studyFormat{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px auto;
}
.studyFormat div{
    width: 300px;
    height: 250px;
    border-radius: 12px;

    font-size: 20px;
    padding-left: 25px;
    padding-top: 175px;
    padding-right: 10px;
    color: white;
}
.studyStep5{
    background-color: #2463EB;
}
.studyStep4{
    background-color: #2F6FE7;
}
.studyStep3{
    background-color: #4A85F0;
}
.studyStep2{
    background-color: #609af7;
}
.studyStep1{
    background-color: #89bbfc;
}

@media(max-width:425px){
    .studies{
        width: 425px;
    }
    .studyFormat{
        width: 400px;  
    }
}
@media(max-width: 375px){
    .studies{
        width: 375px;
    }
    .studyFormat{
        width: 360px;
    }
}